/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset*/

/* Custom Style */

body{
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	font-size: 16px;
	/* border-color: rgba(255,255,255,1); */
	/* border-left: 2px solid #ffffff; */
	/* display: inline-block; */
}

h1{
	font-size:24px;
	/* display: inline-block; */
}

p{
	padding:1% 0%;
}

header{
	padding:1% 1%;
	display: inline-block;
	border-bottom: 2px solid #ffffff;
	width:100%;
}

nav{
	padding: 0% 0%;
	display: inline-block;
	vertical-align:bottom;
}

section{
	padding: 1% 1%;
	/* border-top: 2px solid #ffffff; */
	/* width:100%; */
}

aside{
	float:right;
	display:block;
	width: 30%;
	padding: 1% 1%;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}

footer{
	padding:1% 1%;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	display: inline-block;
	font-size: 16px;
	width:100%;
	/* vertical-align:bottom; */
}

a{
	color: rgba(255,255,255,1);
	text-decoration: none;
}

li{
	display:block;
	float:bottom;
}

#sketch-div{
	/* width:100%; */
	/* height:100%; */
	/* margin: 0 auto; */
	/* left: auto; */
	/* position: absolute; */
	/* vertical-align:middle; */
	/* height:100%; */
}

#mainLogo{
	left: 0%;
	top: 0%;
	position:absolute;
}

#Lettering{
	position:absolute;
	width:90%;
	height: 10%;
	left: 5%;
	bottom: 2%;
}

#btn1{
	left:50%;
	top:50%;
	position:absolute;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.currentPage{
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}

.musicPlayer{
	position: absolute;
	right:0%;
	bottom:0%;
	float:left;
	/* float:right; */
	/* padding-left: 2%; */
	/* vertical-align:top; */
	/* display: inline; */
}

.logo{
	float:left;
	/* display:inline-block; */
	/* vertical-align:top; */
}

.left{
	float:left;
	width: 50%;
}

.right{
	float:right;
	width: 50%;
	height: 100%;
	position:relative;
	background: #000;
}

/* #animation{ */
	/* width: 100%; */
	/* height: 100%; */
	/* position:absolute; */
	/* background: #000; */
/* } */
